*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
display: flex;
   justify-content: space-around;

  
}
.logo img{
    margin-top: 8px;
    width: 170px;
}
.navbar ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-left: 70px;
   
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0px 20px;
    
    
}
.navbar a:hover{
    color: #8e7754;
}

.main{
 background-image: url('../images/drew-coffman-1872.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 width: 100%;
 height: 100vh;
 position: relative;

}
.hero-section{
    color: white;
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    width: 750px;
}
.hero-section h6{
    font-size: 15px;
    color: #ffffeb;
    margin: 0px 0px 5px;
    font-family:sans-serif;
}
.hero-section h1{
    font-size: 70px;
    padding: 20px 0px;
    font-family:sans-serif;
}
.hero-section p{
    font-family:Roboto;
    font-size: 25px;
    padding: 20px 0px;
}
.hero-section button{
     margin-top: 15px;
    
     -webkit-border-radius:3px ;
     -moz-border-radius:3px ;
     -ms-border-radius:3px ;
     -o-border-radius:3px ;
      border-radius:3px ;
      text-transform: capitalize;
}
.learn-more{
    background-color: #8e7754;
    transition-property: all;
    transition-duration: .5s;
    color: white;
    border: none;
    margin: 0px 0px 12px 12px;
     padding: 15px 28px;
    font-weight: 900;
  font-size: 14px;
    
}
.contact-us{
  margin: 0px 0px 12px 12px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 15px 28px;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
  
}
.contact-us:hover {
  background-color: white;
  color: #333;
}
.learn-more:hover{
    background-color: white;
    cursor: pointer;
      color: #333;
      

}


.about-section {
    width: 100%;
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

.about-img img {
   max-width: 550px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about-content {
  max-width: 600px;
}


.about-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #686868;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #686868;
}

.about-list {
  list-style: none;
}

.about-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
  color: #686868;
}

.about-list .icon {
 color: #8e7754;
  border:#2d2d2d42 solid .5px;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
  font-size: 18px;
}

